@import "variables";

body {
  margin: 0;
  background-color: #333;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 600px;
}

a {
  color: $green;
  font-weight: bold;
  text-decoration: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: lightgray;
}

#nav {
  margin-bottom: 30px;
  background-color: #222;
  display: flex;
  height: 85px;
  width: 100%;
  min-width: 600px;
  
  .routes {
    margin: auto;
    max-width: 1000px;

    a {
      display: inline-flex;
      margin: auto 50px auto 0;
      text-decoration: none;
      font-weight: bold;
      color: lightgray;

      &.router-link-active {
        color: white;
      }
    }
  }

  img {
    height: 100%;
  }
}

h3 {
  color: $green;
}

.indent {
  padding: 0 1rem;
}

.underline {
  position: relative;
  
  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: solid 2px $orange;
    border-color: $orange transparent transparent transparent;
    border-radius: 30%;
  }
}