@import "variables";

body {
  margin: 0;
  background-color: #333;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
}

a {
  color: $green;
  text-decoration: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: lightgray;
}

hr {
  background-color: $orange;  
  border: none;
  height: 1px;
  margin: 15px;
}

h3 {
  color: $green;
}

.indent {
  padding: 0 1rem;
}

.underline {
  position: relative;
  
  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: solid 2px $orange;
    border-color: $orange transparent transparent transparent;
    border-radius: 30%;
  }
}